[Desktop Entry]
Version=1.0
Type=Application
Exec=/home/deh/Apps/drawio.AppImage
Icon=drawio
Name=draw.io
Comment=Diagram Editor
Categories=Development;Graphics
Path=/home/deh/Pictures
Terminal=false
StartupNotify=false
